
/* .main {
  border: 3px solid black;


  width: 60%;
  height: 80%;



  min-width: 340px;
  min-height: 649px;
} */


.main {

  /* border: 3px solid black; */
  width: 450px; 
  height: 667px; 

  text-align: center;

  @media only screen and (max-width: 767px) {
    width: 100%;
    height: 100vh;
    transform: none;
  }
}


.main .board {
  
  height: 67%;
  /* background-color: rgb(87, 33, 87); */
  background-color: navy;
  margin: 1px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 3px;
}

.main .board .cell {
  /* border: 3px solid black; */
  /* background-color: rgb(87, 33, 87);
  box-shadow: 5px 5px 15px rgb(69, 26, 69), -5px -5px 15px rgb(143, 58, 143); */


  
  background-color: navy;
  box-shadow: 3px 3px 10px rgb(0, 0, 94), -3px -3px 10px rgb(0, 0, 213);



  width: 95%;
  height: 95%;
  /* overflow: hidden; */

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;


  
}

.board h1 {
  
  margin: 0;
  height: 100%;
  padding: 0.5px;
  text-align: center;
  

  display: flex;
  justify-content: center;
  align-items: center;
  
}
